.header
  .header__logo
    .header__box
      peoc
      .header__icon
      = link_to "#", class: "contents__btn contents__btn--" do
        = icon('far', 'edit', class: "contents__btn--icon")
        %span<>
      = link_to "#", class: "contents__btn contents__btn--" do
        = icon('fas', 'cog', class: "contents__btn--icon")
        %span<>
  .header__main
    .header__name
      techcamp
    .header__comennts
      まだメッセージはありません。